pre.thumbcode {
  /*margin-top: 15px;*/
  max-height: 120px;
  overflow: hidden;
  background-color: inherit;
  word-wrap:normal;
  font-size:10px;
}
.navbar-default {
  background-color: inherit;
  border: none;
}

div.card {
  /*max-height: 450px;*/
  margin-bottom: 30px;
}

div.favicon {
  position: absolute;
  right: -10px;
  bottom: -10px;
  opacity: 0.8;
}

div.favicon img{
  width:32px;
}

img.thumbnail, pre.thumbcode {
  border: none;
}

div.rtile {
  // float: left;
  padding-right: 15px;
  padding-left: 15px;
}

div.highlight {
  font-size: 9pt;
}
span.fa {
  margin-left: 8px;
  margin-right: 3px;
}

div.row {
  /*margin-top: 20px;
  margin-bottom: 20px;*/
  margin: 20px;
}

div.col-sm-4 {
  overflow: hidden;
}
p.card-text {
  font-size: 90%;
}

img.tagicon {
  width: 24px;
}
div.card-block.cardheader {
  padding: 0.8rem;
}

a {
  color: rgba(0,0,0,.8);
}

span.sortorder {
  font-weight: bold;
  padding-left: 5px;
}

p.quote {
  border-left-width: 3px;
  border-left-style: solid;
  border-color: #B54E3C;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 0px;
}

div.meta {
  padding-bottom: 0.8rem;
  color: #B54E3C;
}

p.quote.qiita {
  border-left-color: #79B74A;
}
div.meta.qiita {
  color: #79B74A;
}

p.quote.tumblr {
  border-left-color: #34526f;
}
div.meta.tumblr {
  color: #34526f;
}

p.quote.wordpress {
  border-left-color: #33B7E0;
}
div.meta.wordpress {
  color: #33B7E0;
}

.navbar a.navbar-brand {
  font-family: 'Arvo', sans-serif;
  font-size: 180%;
  color: #B54E3C;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  text-align: center;
}
